[submodule "dapp-styles"]
  path = interface/public/dapp-styles
  url = git://github.com/puffscoin/dapp-styles.git
[submodule "meteor-dapp-wallet"]
	path = meteor-dapp-wallet
  url = https://github.com/puffscoin/meteor-dapp-wallet.git
